@font-face {
  font-family: 'barlow';
  src: url('./fonts/ChaletLondonNineteenSixty.ttf');
}

* {
  font-family: inherit;
}

#app {
  font-family: 'barlow', sans-serif;
}

.chat-window {
  --size: calc((((2.7vw / 1.77777) * 1.2)) * 6);
  position: absolute;
  right: calc(1.56vw);
  top: calc(1vw);
  height: var(--size) !important;
  width: 25% !important;
  background: inherit !important;
  background-color: rgba(27, 27, 27, 0.1) !important;

  left: auto;
  -webkit-animation-duration: 1.5s !important;
}

.chat-messages {
  position: relative;
  height: 95%;
  font-size: 1.8vh;
  margin: 1%;

  overflow-x: hidden;
  overflow-y: hidden;
}

.chat-input {
  --size: calc((((2.7vw / 1.77777) * 1.2)) * 6);
  font-family: 'barlow' sans-serif;
  font-size: 1.65vh;

  position: absolute;
  right: calc(1.56vw);
  top: calc(31% - (var(--size) / 2));
  background: inherit !important;

  bottom: auto;
  left: auto;

  height: auto;
  width: 25% !important;
  box-sizing: border-box;
}

.prefix {
  font-size: 1.8vh;
  position: absolute;
  margin-top: 0.5%;
  left: 0.208%;
}

textarea {
  font-size: 1.65vh;
  display: block;
  box-sizing: border-box;
  padding: 1%;
  padding-left: 3.5%;
  color: white;
  background-color: rgba(27, 27, 27, 0.5) !important;

  width: 100%;
  border-width: 0;
  height: 3.15%;
  overflow: hidden;
  text-overflow: ellipsis;
}

textarea:focus,
input:focus {
  outline: none;
}
.chat-input .prefix {
  margin: 0;
  margin-left: -0.7%;
}
.msg {
  font-family: 'barlow' sans-serif;
  margin-bottom: 0.28%;
}

.multiline {
  margin-left: 4%;
  text-indent: -1.2rem;
  white-space: pre-line;
}

.suggestions {
  list-style-type: none;
  padding: 0.5%;
  padding-left: 1.4%;
  font-size: 1.65vh;
  box-sizing: border-box;
  color: white;
  background-color: rgba(27, 27, 27, 0.5) !important;
  width: 100%;
}

.help {
  color: #b0bbbd;
}

.disabled {
  color: #b0bbbd;
}

.suggestion {
  margin-bottom: 0.5%;
}

.hidden {
  display: none;
}
